ul ul
{
    display: none; 
    position: absolute; 
    left: 144px; 
    top: -1px; 
    margin:0px; 
    padding: 0px; 
}
li 
{
    list-style-type: none;
    position: relative;
    width: 140px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 2px;
    margin: 0px;
}
li:hover
{
    background-color: rgb(191, 208, 255);
}
li:hover ul.niveau2, li li:hover ul.niveau3
{
    display: block
}
li:hover ul.niveau2, li li:hover ul.niveau3bis
{
    display: block
}
