 ul ul
{
    display: none; 
    position: absolute; 
    left: 144px; 
    top: -1px;
    margin: 0px;
    padding: 0px;
}
li 
{
    list-style-type: none;
    text-align: center;
    position: relative;
    width: 140px;
    border: 3px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 2px;
    margin: 0px;
}
li:hover
{
    background-color: rgb(191, 208, 255);
}
li:hover ul.level2, li li:hover ul.level3,  li li:hover ul.level3bis,  li li:hover ul.level3ter
{
    display: block;
}
